{% extends "core/layout.html" %}
{% block title %}
    Reset password
{% endblock %}

{% block container %}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Reset password</h5>
    </div>

    <div class="card-body">
        <form action="" method="POST">
            {% csrf_token %}
            {% if form.email.errors %}
                {{ form.email.errors }}
            {% endif %}
            <p>{{ form.email }}</p>
            <button type="submit" class="btn btn-success" value="Reset password">Reset Password</button>
        </form>
    </div>
</div>

{% endblock %}