{% extends "core/layout.html" %}

{% block title %}
    Create Plugin
{% endblock %}
{% block container %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Add New Plugin</h5>
    </div>
    <div class="card-body">
        <form action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %}
    
            {{ form.non_form_errors }}
            {{ form.as_p }}

            {{ plugin_formset.non_form_errors }}
            {{ plugin_formset.management_form }}
            {% for formset in plugin_formset %}
                {{ formset.as_p }}
            {% endfor %}
            <button type="submit" class="btn btn-success">Add Plugin</button>
        </form>  
    </div>
</div>
      
{% endblock %}