{% extends "core/layout.html" %}

{% block title %}
    Plugin Detail
{% endblock %}
{% block container %}
<div class="card">
    {% if plugin %}
    <div class="card-header">
        <h5 class="card-title">Plugin Details: {{plugin.name}}</h5>
    </div>

    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Plugin Name</dt>
            <dd class="col-sm-9">{{plugin.name}}</dd>
            <dt class="col-sm-3">Interval</dt>
            <dd class="col-sm-9">{{plugin.interval}}</dd>
        </dl>
    </div>
    {% else %}
        <p>No plugins selected. See available plugins <a href="{% url 'core:' %}">here</a>.</p>
    {% endif %}
</div>
{% endblock %}